<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <h1>ポエム</h1>
    <div class="row">
      <p>ポエムのタイトル：<%= @poem.title %></p>
      <p>ポエムの内容：<%= @poem.content %></p>
    </div>
  </div>
</div>
